# Estimation and Confidence Intervals

a. Build 99% Confidence Interval Using Sample Standard Deviation

In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import math

In [5]:
data=(1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29)
sample=pd.DataFrame(data)
sample

       0
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [7]:
# The total length of sample
len(sample)

15

In [11]:
sample_mean=sample.mean()
print('The mean of the sample is',sample_mean)

sample_std=sample.std()
print('The standard deviation of the sample is',sample_std)

t_critical=stats.t.cdf(x=0.99, df=14)
print('The t critical value is',t_critical)
print()

margin_of_error=t_critical * (sample.std()/np.sqrt(len(sample)))

confidence_interval=(sample_mean - margin_of_error,
                    sample_mean + margin_of_error)

print('The 99% confidence interval is',confidence_interval)
print()

The mean of the sample is 0    1.238667
dtype: float64
The standard deviation of the sample is 0    0.193164
dtype: float64
The t critical value is 0.8305115360195403

The 99% confidence interval is (0    1.197245
dtype: float64, 0    1.280088
dtype: float64)

# Here t distribution is used because sample size is smaller and population standard deviation is not given.

b. Build 99% Confidence Interval Using Known Population Standard Deviation

In [19]:
sample

       0
0   1.13
1   1.55
2   1.43
3   0.92
4   1.25
5   1.36
6   1.32
7   0.85
8   1.07
9   1.48
10  1.20
11  1.33
12  1.18
13  1.22
14  1.29

In [23]:
sample_mean=sample.mean()
print('The sample mean is',sample_mean)

z_critical = stats.norm.cdf(x=0.99)
print('The z critical value is',z_critcal)
print()

pop_stdev=0.2 # Given population standard deviation

margin_of_error = z_critical * (pop_stdev/math.sqrt(len(sample)))

confidence_interval = (sample_mean - margin_of_error,
                      sample_mean + margin_of_error)

print('The 99% confidence interval is',confidence_interval)
print()

The sample mean is 0    1.238667
dtype: float64
The z critical value is 0.8389129404891691

The 99% confidence interval is (0    1.195345
dtype: float64, 0    1.281988
dtype: float64)